# MongoDB Atlas Connection String
# Example: mongodb+srv://<username>:<password>@cluster0.mongodb.net/lettuce-shop
MONGODB_URI=

# OAuth/Session Secrets (GitHub)
# Get these from your GitHub Developer Settings -> OAuth Apps
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
CALLBACK_URL= 

# Session Secret (A random string for session-based auth)
SESSION_SECRET=

# Server Configuration
PORT=
